@page "/"

<h1>Hello, world!</h1>

<div>
    <h1> Control Boostrap-Select Here</h1>
    <select class="selectpicker" data-live-search="true">
        <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
        <option data-tokens="mustard">Burger, Shake and a Smile</option>
        <option data-tokens="frosting">Sugar, Spice and all things nice</option>
    </select>
</div>


<SurveyPrompt Title="How is Blazor working for you?" />
